<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
        f </button>
      <div class="collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav">
  {% for item in site.data.navigation %}

  <li>  <a href="{{ item.link }}" {% if page.url == item.link %} class="current"{% endif %}>
      {{ item.name }}
    </a> </li>
  {% endfor %}
</ul>
</div>
</div>
</nav>
